.cache/
.direnv/
.envrc
compile_commands.json
philo/.cache/
philo/compile_commands.json
philo/obj/
philo/philo
philo/philo-tsan
philo/tsan0.log
philo/tsan1.log
philo_bonus/.cache/
philo_bonus/compile_commands.json
philo_bonus/philo-tsan
shell.nix
