philo/*
.cache
.direnv/
.gitignore
.envrc
obj/
compile_commands.json
shell.nix
!philo/
!philo/Makefile
!README.md
!philo/init_philo.c
!philo/philo.c
!philo/philo.h
!philo/philo_routine.c
!philo/utils.c

philo_bonus
# !philo_bonus/
# !philo_bonus/Makefile
# !philo_bonus/README.md
# !philo_bonus/init_philo_bonus.c
# !philo_bonus/philo_bonus.c
# !philo_bonus/philo_bonus.h
# !philo_bonus/utils_bonus.c
# !philo_bonus/summon_philos.c
# !philo_bonus/philo_eat.c
# !philo_bonus/any_dead.c
# !philo_bonus/make_proto_philo.c
#
