philo/*
!philo/
!philo/Makefile
!README.md
!philo/init_philo.c
!philo/philo.c
!philo/philo.h
!philo/philo_routine.c
!philo/utils.c
.cache
.direnv/
.envrc
obj/
core
compile_commands.json
shell.nix
philo_bonus/philo_bonus
